@use '../../../styles/library' as *;
@forward '../../../styles/library' as core_*;

@mixin button_commons {
    display: inline-block;
    background-color: $primary_orange;
    border: none;
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 1em 2em;
    border-radius: $spacing;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.2s;
    user-select: none;
    &:hover {
        background-color: $dark_orange;
    }   
    &:active {
        background-color: $light_orange;
    }
}

@mixin controlText {
    vertical-align: center;
    font-size: 14px;
    color: white;
    padding: .25em .5em;
}

@mixin labelBox {
    display: inline-block;
    background-color: $dark_grey; 
    color: white;
    border: 1px solid black;
    padding: .25em .5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: center;
    font-size: 14px;
}
