@use "library" as *;

.handler {
    position: absolute;
    top: 0;
    z-index: 20;
    width: 2px;
    height: 100%;
    background-color: $core_primary_orange;
    &:hover {
        cursor: ew-resize
    }
    &[side="left"]::before {
        content: '';
        position: absolute;
        top: -17px;
        left: 0px;
        width: 0;
        height: 0;
        border-top: 20px solid $core_primary_orange;
        border-right: 12px solid transparent;
        border-bottom: 12px solid transparent;
    }
    &[side="right"]::before {
        content: '';
        position: absolute;
        top: -17px;
        left: -10px;
        width: 0;
        height: 0;
        border-top: 20px solid $core_primary_orange;
        border-left: 12px solid transparent;
        border-bottom: 12px solid transparent;
    }
}