@use "library" as *;

$spinner_size: 30px;

.spinner {
    position: absolute;
    border: 4px solid $core_white;
    border-right-color: aqua;
    border-radius: 50%;
    width: $spinner_size;
    height: $spinner_size;
    top: calc(50% - $spinner_size/2);
    left: calc(50% - $spinner_size/2);
    animation: spin .5s linear infinite;
}

@keyframes spin {
    from {transform: rotate(0)}
    to {transform: rotate(360deg)}
}